.home-button {
  background-color: #007bff;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;  
}

.home-button:hover {
  background-color: #0056b3;
}


main {
  padding: 2rem;
}

#contact-us {
  text-align: center;
}

#contact-us h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.contact-info {
  font-size: 1.2rem;
  margin-top: 1.5rem;
}

.contact-info strong {
  font-weight: bold;
}

