h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}

.registration-form {
  display: grid;
  grid-gap: 1rem;
}

.registration-form label {
  font-size: 1.2rem;
  font-weight: bold;
}

.registration-form input[type="text"],
.registration-form input[type="email"],
.registration-form input[type="password"] {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.registration-form button {
  width: 100%;
  background-color: #43A6C6;
  color: #fff;
  padding: 1rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.registration-form button:hover {
  background-color: #0056b3;
}
