body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  header {
    background-color: #43A6C6;
    color: #fff;
    text-align: center;
    padding: 0.5rem 0; 
  }

  .company-name h1 {
    font-size: 0.5rem; 
    margin-bottom: 0.5rem; 
  }
  
  main {
    padding: 2rem;
  }
  
  section {
    margin-bottom: 2rem;
  }
  
  footer {
    background-color: #43A6C6;
    color: #fff;
    padding: 1rem;
    text-align: center;
  }
  
  h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  p {
    font-size: 1.1rem;
    line-height: 1.8;
  }
  

  nav {
    margin-top: 0.5rem; 
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    margin-right: 1rem;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    transition: background-color 0.2s ease;
  }
  
  nav a:hover {
    background-color: #0056b3;
  }
  
  .button {
    display: inline-block;
    background-color: #43A6C6;
    color: #fff;
    padding: 1rem 2rem;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.2s ease;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  

  .logo {
    flex: 1;
    max-width: 85px;
  }
  
  ul.product-list {
    list-style: none;
    padding: 0;
  }
  
  .product-item {
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 5px;
  }
  
  .product-item h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  
  .product-item p {
    margin-bottom: 0.5rem;
  }
  
  
  .contact-info {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  
  .registration-form {
    max-width: 400px;
    margin: 0 auto;
  }
  
  .registration-form label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
  }
  
  .registration-form input[type="text"],
  .registration-form input[type="email"],
  .registration-form input[type="password"]
   {
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 1rem;
  }
  
  .registration-form button {
    background-color: #007bff;
    color: #fff;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .registration-form button:hover {
    background-color: #0056b3;
  }

  ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
  }
  
  ul.breadcrumb li {
    display: inline;
    font-size: 18px;
  }
  
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "→";
  }
  
  ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
  }
  
  ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
  }